/* This file is part of 'Quannu Passa'.

    'Quannu Passa' is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    'Quannu Passa' is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with 'Quannu Passa'.  If not, see <http://www.gnu.org/licenses/>.
    */

html {
    height: 100%;
}
body {
    height: 100%;
    background: linear-gradient(135deg, #f87a00 0%,#ffa620 40%,#f8800b 100%);
    background-repeat: no-repeat;
}

img.event.listening {
    display: block;
    margin: auto;
}


.selector {
    height: 60px;
}
